body{
	font-family: "Î¢ÈíÑÅºÚ";
}
.topNav{
	display: flex;
	width: 100%;
}
.topNav li{
	flex: 1;
	background-size: 100% !important;
	text-align: center;
}
.topNav li h2{
	margin: 0;
	margin-top:88%;
	line-height: 22px;
	height: 66px;
	font-size: 16px;
	overflow: hidden;
	padding: 2% 10%;
	font-weight: bold;
}
.topNav li:nth-child(2){
	background: url(../img/xjpm/phb_gj_z@2x.png) no-repeat ;
	color: #F7585A;
}
.topNav li:nth-child(1){
	background: url(../img/xjpm/phb_yj_z@2x.png) no-repeat;
	color: #99C3EB;
}
.topNav li:nth-child(3){
	background: url(../img/xjpm/phb_jj_z@2x.png) no-repeat;
	color: #FD9867;
}
.topNav li:nth-child(2) h3{
	color: #e81848;
	font-weight: bold;
}
.topNav li:nth-child(1) h3{
	color: #6eafe5;
	font-weight: bold;
}
.topNav li:nth-child(3) h3{
	color: #fa6449;
	font-weight: bold;
}
.topNav li .jd_tit {
    border: 1px solid #c8c8c8;
    padding: 1% 6%;
    /*line-height: 40px;*/
    /*height: 40px;*/
    border-radius: 5px;
    font-size: 12px;
    color: #AAAAAA;
    margin: 2% 0;
    display: inline-block;
}
.topNav li h3{
	margin: 0;
/*	margin-top: 14px;*/
	/*line-height: 24px;*/
	padding: 5% 0;	
}
.topNav li:nth-child(2) h3{
	font-size: 22px;
}
.topNav li:nth-child(1) h3{
	font-size: 20px;
}
.topNav li:nth-child(3) h3{
	font-size: 20px;
}
.pm_list{
	margin-top:20px;
}
.pm_list li{
  	display: flex;
  	/*justify-content:center;*/
 	align-items:center;
 	border-top: 1px solid #F4F4F4;
 	padding: 10px 0;
}
.l-l{
	flex: 1;
	text-align: center;	
	font-size: 18px;
}
.l-c{
	flex: 4;
	color: #666;
	font-size: 16px;
	line-height: 22px;
}
.l-r{
	flex: 2;
	text-align: center;
	/*color: #F0971A;*/
	font-size: 20px;
}
